In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import auc

In [43]:
# read in sampled_readings
devices = pd.read_csv("./datasets/devices.csv")
readings = pd.read_csv("./datasets/sampled_readings.csv")
reading_types = pd.read_csv("./datasets/reading_types.csv")

In [45]:
# bring in building_id from the devices dataset
train_data = pd.merge(readings, devices, on='device_id', how='left')

In [47]:
train_data.isna().sum()

device_id        0
date             0
value_type_id    0
value            0
building_id      0
dtype: int64

In [48]:
train_data.dtypes

device_id          int64
date              object
value_type_id      int64
value            float64
building_id        int64
dtype: object

In [51]:
train_data['date'] = pd.to_datetime(train_data['date'], format='%Y-%m-%d %H:%M:%S')
train_data['month'] = train_data['date'].dt.month
train_data['day'] = train_data['date'].dt.day
train_data['dow'] = train_data['date'].dt.dayofweek
train_data['hour'] = train_data['date'].dt.hour
train_data['minute'] = train_data['date'].dt.minute

train_data

,device_id,date,value_type_id,value,building_id,month,day,dow,hour,minute
0,70,2023-08-11 00:59:58,6,6.0,12,8,11,4,0,59
1,194,2023-03-24 20:01:56,5,0.2,33,3,24,4,20,1
2,134,2023-02-21 23:25:28,6,0.0,25,2,21,1,23,25
3,117,2023-07-28 06:15:20,12,48.5,20,7,28,4,6,15
4,46,2023-01-18 09:50:13,7,15.6,6,1,18,2,9,50
...,...,...,...,...,...,...,...,...,...,...
39004219,230,2023-11-17 08:30:25,1,522.8,36,11,17,4,8,30
39004220,201,2023-02-09 01:29:34,5,0.0,33,2,9,3,1,29
39004221,154,2023-12-28 22:05:50,6,0.0,31,12,28,3,22,5
39004222,205,2023-07-11 11:24:12,8,0.0,34,7,11,1,11,24
39004223,137,2023-03-07 23:19:25,9,19.6,25,3,7,1,23,19